openapi: 3.1.0
info:
  title: BILL v3 Authentication Payments API
  description: 'REST API providing access to BILL''s Accounts Payable, Accounts Receivable,

    and Spend & Expense capabilities — bills, invoices, vendors, customers,

    payments, funding accounts, organizations, webhooks, and authentication

    workflows.


    Best-effort OpenAPI reconstruction from BILL''s public developer portal at

    https://developer.bill.com/docs/home. Authoritative reference and Postman

    collection live under https://developer.bill.com/reference and

    https://developer.bill.com/llms.txt.

    '
  version: 3.0.0
  contact:
    name: BILL Developer Portal
    url: https://developer.bill.com/docs/home
  license:
    name: Proprietary
servers:
- url: https://gateway.prod.bill.com/connect/v3
  description: BILL production gateway (Connect v3)
- url: https://gateway.stage.bill.com/connect/v3
  description: BILL sandbox gateway (Connect v3)
- url: https://api.bill.com/v3
  description: BILL production API
- url: https://api-sandbox.bill.com/v3
  description: BILL sandbox API
security:
- sessionAuth: []
tags:
- name: Payments
paths:
  /payments:
    get:
      tags:
      - Payments
      summary: List payments
      operationId: listPayments
      parameters:
      - $ref: '#/components/parameters/Max'
      - $ref: '#/components/parameters/Page'
      responses:
        '200':
          description: Payments.
    post:
      tags:
      - Payments
      summary: Create a payment (MFA required)
      operationId: createPayment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentCreate'
      responses:
        '201':
          description: Created payment.
  /payments/bulk:
    post:
      tags:
      - Payments
      summary: Create a bulk payment (MFA required)
      operationId: createPaymentsBulk
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - payments
              properties:
                payments:
                  type: array
                  items:
                    $ref: '#/components/schemas/PaymentCreate'
      responses:
        '200':
          description: Bulk payment result.
  /payments/{paymentId}:
    parameters:
    - name: paymentId
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Payments
      summary: Get payment details
      operationId: getPayment
      responses:
        '200':
          description: Payment.
  /payments/{paymentId}/cancel:
    parameters:
    - name: paymentId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Payments
      summary: Cancel a scheduled payment
      operationId: cancelPayment
      responses:
        '200':
          description: Cancelled.
  /payments/{paymentId}/void:
    parameters:
    - name: paymentId
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Payments
      summary: Void a processed payment
      operationId: voidPayment
      responses:
        '200':
          description: Voided.
components:
  parameters:
    Page:
      name: page
      in: query
      schema:
        type: string
    Max:
      name: max
      in: query
      schema:
        type: integer
        default: 100
        maximum: 999
  schemas:
    PaymentCreate:
      type: object
      required:
      - vendorId
      - processDate
      - billPays
      properties:
        vendorId:
          type: string
        chartOfAccountId:
          type: string
        processDate:
          type: string
          format: date
        billPays:
          type: array
          items:
            type: object
            properties:
              billId:
                type: string
              amount:
                type: number
                format: double
        fundingAccountId:
          type: string
        memo:
          type: string
  securitySchemes:
    sessionAuth:
      type: apiKey
      in: header
      name: sessionId
      description: 'Session identifier obtained from `POST /login`. Expires after 35 minutes

        of inactivity. A `devKey` (developer key) is also required on requests

        and is sent alongside `sessionId` in the appropriate header per BILL''s

        official reference.

        '
